<html>

<style>
  .color {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000;
  }

  .background {
    background-color: #F7FBFC;
  }

  .header {
    font-weight: 500;
    float: left;
  }

  .confirm {
    background-color: #769FCD;
    padding: 8px 12px;
    color: #000;
  }
</style>

<body>
  <div>
    <h2 class="color background" style="float:left">
      Hello
      <p class='header'>{{name}},</p>
    </h2>
    <br>
    <p>Thank you for registering for the Social Butterfly</p>
    <p>Please confirm your account here</p>
    <br>
    <form action='http://{{host}}:8080/auth/verify/{{id}}' method='post'>
      <button class='confirm'>Confirm</button>
    </form>
  </div>
</body>

</html>